@charset "utf-8";

html {
    background: #474747;
    /* Old browsers */
    /* background: -moz-linear-gradient(top, #474747 0%, #b7b7b7 100%); */
    /* FF3.6-15 */
    /* background: -webkit-linear-gradient(top, #474747 0%, #b7b7b7 100%); */
    /* Chrome10-25,Safari5.1-6 */
    /* background: linear-gradient(to bottom, #474747 0%, #b7b7b7 100%);
    W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    /* filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#474747', endColorstr='#b7b7b7', GradientType=0); */
    /* IE6-9 */
    height: 100%;
    color: whitesmoke;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 2;

}

nav {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    position: sticky;
    top: 0;
}

nav a {
    background: grey;
    color: white;
    padding: 5px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
}

nav a:hover {
    background: rgb(40, 40, 40);
}


article {
    color: whitesmoke;
    line-height: 50px;

}

#secondimg {
    background: url(../img/life.jpg);
    background-position: center;
    background-size: cover;
}

.content {
    position: relative;
    padding: 225px 5px 150px 5px;
}

section#leftColumn {
    clear: both;
    float: left;
    width: 45%;
    padding: 1.5em
}

section#rightColumn {
    float: right;
    width: 50%;
    padding: 1.5em;
    box-sizing: border-box;
}

footer {
    clear: both;
}

figure img {
    display: block;
    width: 100%;
}

figure {
    border-image: url(blacknwhite.jpeg) 50 repeat;
    margin: 20px auto 0px;
    width: 100%;
}