@charset "utf-8";

html {
    background-color: whitesmoke;
}

body {
    background-color: gray;
}

div.firstnav {
    background-color: black;
    overflow: hidden;
    white-space: nowrap;
    list-style-type: none;

}

div.firstnav a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    float: left;

}

li.firstnav {
    padding: 5px;
    margin: 3px;
    background-color: rgb(191, 188, 168)
}

div.firstnav a:hover {
    background-color: grey;
}

h1 {
    color: whitesmoke;
}